@import "tailwindcss";

@theme {
    /* 定义字体族 */
    --font-sans:
        "Noto Sans", "Noto Sans SC", "Noto Sans JP", "Noto Color Emoji",
        sans-serif;
}

@plugin "daisyui" {
    themes:
        light --default,
        dark --default;
}
.fresh-gradient {
    background-color: rgb(134, 239, 172);
    background-image: linear-gradient(
        to right bottom,
        rgb(219, 234, 254),
        rgb(187, 247, 208),
        rgb(254, 249, 195)
    );
}

progress::-webkit-progress-value {
    transition: width 0.5s ease-in-out;
}
